[Desktop Entry]
Type=Application
#X-Nemo-Application-Type=silica-qt5
#Exec=harbour-defender
Exec=/usr/bin/sailjail -p harbour-defender /usr/bin/harbour-defender
Icon=harbour-defender
Name=Defender
# translation example, your app name in German locale (de)
#Name[de]=Abwehrer
# Remember to comment out the following line(s), if you do not want to use
# a different app name in other locale(s).
Name[de]=Abwehrer
Name[es]=Defensor
Name[sv]=Försvarare
X-Desktop-File-Install-Version=0.26

[X-Sailjail]
#Sandboxing=Disabled
#Permissions=Defender;Internet;Compatibility;Priviledged;Diplay;WebView;Ambience
Permissions=Defender;Internet;PublicDir;xCompatibility
CustomContentHandler=org.sailfishos.browser
OrganizationName=leinchen.peter
ApplicationName=harbour-defender

