[Unit]
Description=Update the Defender hosts file
Documentation=man:systemd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/share/harbour-defender/qml/python/defender_updater.py
