[Unit]
Description=Run Defender updater weekly
Documentation=man:systemd.timer

[Timer]
OnCalendar=weekly
Persistent=true     
 
[Install]
WantedBy=timers.target
